body {
	font-size: 18px;
}

#Home-Body {
	display: grid;
	grid-template-columns: .2fr 2fr 2fr .2fr;
	grid-template-rows: .1fr 1fr .1fr;
	justify-items: stretch;
	align-items: stretch;
	background: rgba(130, 89, 89, 0.08);
	margin: 10px;

	animation-name: home-text;
	animation-duration: .5s;
}

@keyframes home-text {
	0% {
		opacity: 0.0;
	}

	25% {
		opacity: 0.25;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.75;
	}

	100% {
		opacity: 1;
	}
}

#Home-Overview {
	display: grid;
	grid-template-rows: .5fr .2fr;
	grid-column: 2/3;
	grid-row: 2/3;
	justify-items: center;
	align-content: center;
	background: #5f5353;
}

#Home-Overview > .text {
	display: grid;
	grid-auto-rows: minmax(1fr, auto);
	text-align: left;
}

#Home-Overview > .smallertext {
	display: grid;
	grid-template-rows: 1fr;
	text-align: left;
	align-items: top;
	color: #f5b9b9;
}

.text h1 {
	max-width: 100%;
	font-size: 3.5em;
	margin: 0;
	color: white;
}

#Home-Overview .smallertext {
	text-align: center;
	color: #f5b9b9;
	font-size: 1em;
	text-align: center;
}

#Home-Body #Home-HeadShot {
	/* width: 60%; */
	display: grid;
	grid-row: 2/3;
	grid-column: 3/4;
	/* grid-template-rows: 1fr 1/2fr; */
	justify-items: center;
	background: #5f5353;
}

#Home-HeadShot img {
	padding: 1vw 0vw 1vw 0;
	min-width: 50%;
	max-width: 60%;
}

@media screen and (max-width: 1900px) {
	body {
		font-size: 14px;
	}

	#Home-Body {
		display: grid;
		grid-template-rows: .1fr 1fr .1fr;
		grid-template-columns: .1fr 1fr 1fr .1fr;
		grid-gap: 0;
	}

	#Home-Overview {
		display: grid;
		grid-template-rows: .5fr .10fr;
		justify-items: center;
		justify-content: center;
		align-content: center;
		/* align-content: space-around; */
		/* align-items: stretch; */
		grid-row: 2/3;
		grid-column: 2/3;
		width: 100%;
		height: 100%;
	}

	#Home-Body #Home-HeadShot {
		/* grid-column: 2/3; */
		/* grid-row: 1/2;
		grid-column: 1/3; */
		grid-row: 2/3;
		grid-column: 3/4;
		justify-content: space-evenly;
		justify-items: center;
		width: 100%;
	}

	#Home-Overview .text {
		text-align: left;
		color: white;
		height: 100%;
	}

	#Home-HeadShot #Headshot {
		justify-items: center;
		width: 100%;
	}

	#Home-Overview h1 {
		font-size: 3.5em;
	}

	#Home-Overview > .smallertext {
		align-self: start;
		font-size: 1em;
		/* grid-row: 2/3;
		grid-column: 1/3; */
	}
}

@media screen and (max-width: 1200px) {
	body {
		font-size: 12px;
	}

	#Home-Body {
		display: grid;
		grid-template-rows: .1fr 1fr .1fr;
		grid-template-columns: .1fr 1fr 1fr .1fr;
		grid-gap: 0;
	}

	#Home-Overview {
		display: grid;
		grid-template-rows: .5fr .10fr;
		justify-items: center;
		justify-content: center;
		align-content: center;
		grid-row: 2/3;
		grid-column: 2/3;
		width: 100%;
		height: 100%;
	}

	#Home-Body #Home-HeadShot {
		grid-row: 2/3;
		grid-column: 3/4;
		/* justify-content: space-evenly; */
		justify-items: center;
		width: 100%;
	}

	#Home-Overview .text {
		text-align: center;
		color: white;
		height: 100%;
	}

	#Home-Overview h1 {
		font-size: 3em;
		text-align: left;
	}

	#Home-HeadShot #Headshot {
		justify-items: center;
	}

	#Home-Overview > .smallertext {
		align-self: start;
		font-size: 1em;
		padding: 2% 5% 2% 5%;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 9px;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 10px;
	}

	#Home-Body {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		grid-template-rows: auto;
		grid-template-areas: "home-headshot" "home-overview";
	}

	#Home-Overview {
		display: grid;
		grid-template-rows: 1fr .10fr;

		grid-area: home-overview;
		width: 90%;
	}

	#Home-Body #Home-HeadShot {
		/* margin: 0 5% 0 5%; */
		grid-area: home-headshot;
		width: 90%;
	}

	#Home-Overview .text {
		text-align: center;
		color: white;
		/* height: 100%; */
	}

	#Home-Overview h1 {
		font-size: 3.5em;
		text-align: center;
	}

	#Home-Overview > .smallertext {
		font-size: 1.5em;
		padding: 2% 5% 2% 5%;
	}

	#Home-HeadShot #Headshot {
	}
}
