#Home-Body {
	display: flex;
	justify-content: center;
}

#Home-Body .row {
	height: 95%;
	width: 95%;

	display: flex;
	justify-content: space-around;
	align-items: space-around;
	margin: 0% 0 0%, 0;
	background: rgba(130, 89, 89, 0.08);
	padding: 3% 0 3% 0;
}

/* Create three unequal columns that floats next to each other */
#Home-Body .column {
	display: flex;
	flex-direction: column;
	background: rgba(95, 83, 83, .2);
	color: white;
	justify-content: center;
	align-items: center;
	margin: 0 3%;
}
#Home-Overview {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Home-Overview .smallertext {
	color: #f5b9b9;
	font-size: 1vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40vw;
}
#Home-Overview > .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: center;
}

.text > h1 {
	width: 40vw;
	font-size: 3vw;
	display: flex;
	justify-content: center;
}

#Home-Body #Home-HeadShot {
	width: 60%;
}

#Home-HeadShot img {
	max-width: 50vw;
	max-height: 50vh;
	padding: 1vw 0vw 1vw 0;

	/* /* Height: 100%;  */
}

@media screen and (max-width: 1900px) {
	#Home-Overview .smallertext {
		color: #f5b9b9;
		font-size: 1vw;
		text-align: left;
		width: 40vw;
	}

	.text > h1 {
		width: 40vw;
		font-size: 3vw;
		text-align: left;
	}

	#Home-HeadShot img {
		max-width: 50vw;
		max-height: 50vh;
		padding: 1vw 0vw 1vw 0;

		/* /* Height: 100%;  */
	}
}

@media screen and (max-width: 1200px) {
	#Home-Overview .smallertext {
		color: #f5b9b9;
		font-size: 1vw;
		text-align: left;
		width: 40vw;
	}

	.text > h1 {
		width: 40vw;
		font-size: 3vw;
		text-align: left;
	}

	#Home-HeadShot img {
		max-width: 40vw;
		max-height: 40vh;
		padding: 1vw 0vw 1vw 0;

		/* /* Height: 100%;  */
	}
}

@media screen and (max-width: 950px) {
	#Home-Overview .smallertext {
		color: #f5b9b9;
		font-size: 1.5vw;
		text-align: left;
		width: 40vw;
	}

	.text > h1 {
		width: 40vw;
		font-size: 3vw;
		text-align: left;
	}

	#Home-HeadShot img {
		max-width: 35vw;
		max-height: 35vh;
		padding: 1vw 0vw 1vw 0;

		/* /* Height: 100%;  */
	}
}

@media screen and (max-width: 600px) {
	#Home-Body .row {
		height: 95%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;

		margin: 1% 0 1%, 0;
		background: rgba(130, 89, 89, 0.08);
		padding: 3% 0 3% 0;
		flex-direction: column-reverse;
	}

	#Home-Body .column {
		margin-top: 2vh;
	}

	#Home-HeadShot {
		width: auto;
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	#Home-Overview {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 2vh;
	}

	#Home-HeadShot img {
		/* max-width: 30vw;
		max-height: 30vh; */

		/* /* Height: 100%;  */
	}

	#Home-Overview .smallertext {
		color: #f5b9b9;
		font-size: 1.5vw;
		width: 50vw;
	}
}
