#Personal-Overview {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto, 1fr);
	color: white;
	justify-content: center;
	height: 30vw;

	background-image: url('./Personal-Header.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	background-color: rgba(0, 0, 0, 0.6);

	align-content: stretch;
}

#Personal-Overview #Personal-Overview-Text {
	display: flex;

	color: white;
	grid-column: 1/2;
	grid-row: 1/2;
	/* text-justify: center; */
	text-align: center;

	/* used to mimic opacity */
	background-color: rgba(0, 0, 0, 0.6);

	justify-content: center;
	align-items: center;

	margin: 0;
}
